@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,500&display=swap');
:root{
    --primaryColor: #E32E00;
    --accentColor: #EDEEF4;
    --textColor:#6b6f81;
}
* {
padding:0;
margin: 0;
text-decoration: none;
list-style-type: none;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}
.top-header,
.bottom-header{
display:flex;
align-items:center;
justify-content:space-between;
padding:.4rem 2rem;
}
.top-header{
background: rgb(247, 199, 42);
color: rgb(78, 3, 97);
}

.nav-icons ion-icon{
    font-size: 1.3rem;
    margin-left: 1rem;
}
.bottom-header{
    padding: 0.2rem 0.2rem;
}
.brand{
    display:flex;
}
.brand img{
    margin-right: .2rem;
}
/* .brand h5{
    font-size:3.2rem;
    color: var(--primaryColor);
}  */
nav ul{
    display:flex;
}
nav li{
    margin-left:1rem ;
}
nav li a{
    font-size:1rem;
    color: rgb(86, 6, 97);
    font-weight:500;
}
.hero-section{
 height:60vh;
background-image:url(images/bg1.jpg);
background-size: cover;
background-repeat: no-repeat;
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.hero-section h1{
    font-size: 3.2 rem;
    color: #37084d;
    margin-right: 500px;
    font-family:serif;
}
.hero-section p{
    font-size: 1.3rem;
    color:rgb(86, 10, 105);
        margin-right: 500px;
font-family: serif;
}
.wrapper{
    width:80%;
    margin:auto;
}

.form-control{
width: 100%;
display:block;
height: 40px;
border:1px solid #f4f4ed;
padding: .4rem 1rem;
outline:none;
}

.btn{
    height: 40px;
    padding:0rem 2.5rem;
    text-align:center;
    outline: none;
}

.btn-block{
display:block;
width: 100%;
}


.btn-main{
background: var(--primaryColor);
color: rgb(255, 255, 255);
border:1px solid var(--primaryColor);

}


.hero-search{
    padding: 1.4rem 0 rem;
    background:#e2e2df;
}

.search-grid{

    display:grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-column-gap: 2rem;
    padding:1rem 5rem;
}

.arrrival-section{
padding:3rem 0rem;
}

.section-header{
    text-align:center;
    }

    .section-header h2 {
font-size:2.3rem;
    }



.section-header span{
border-bottom:3px solid var(--primaryColor);
padding-bottom: 0.6rem;
}

.slider-wrapper{
    margin-top: 3.8rem ;
}

.slider-container
{
 outline: none!important;  
}
.slide{
 border:1px solid var(--accentColor);
 margin: 0rem 1.5rem;   
}
.slide-img{
    
    height:200px;
    width: 15s0px;
    background-size: contain;
    background-repeat:no-repeat ;
    background-position:center;
    position: relative;
}
.slide-badge
{
position:static;
width: 50px;
height: 50px;
display:flex;
justify-content:center;
align-items: center;
flex-direction:column;
border: 2px solid var(--primaryColor);
background:#fff ;
border-radius: 50%;
padding: 0.5em;
}
.slide-info{
    padding:1rem;
    text-align: center;

}
.slide-info h3{
    font-size: .9rem;
    color: #333;
    margin-bottom: .6rem;
}
.price{
    margin-bottom: 1.2rem;
}
.price span{
    font-weight: 700 ;
    color: var(--primaryColor);
    border: none !important;
}
.price span:last-child{
    text-decoration: line-through;
}


.banner-section{
  background-image:url(images/bg2.jpg) ; 
  background-size:cover;
  background-repeat: no-repeat;
  height: 80vh;
  background-position:inherit ;
}

.banner-section.wrapper{
    display:flex;
    justify-content: flex-end;
width:50%;
padding:3rem 0rem;

}
.banner-text{
    height:100%;
    justify-content:center;
    flex-direction: column;
}

.banner-text h1{
    font-size: 3rem;
    color:rgb(238, 22, 22);
}
.banner-text p{
    font-size: 2rem;
    color:rgb(243, 32, 32);
    margin-bottom: 1rem;
}

.promo-grid{
    display:grid;
    grid-template-columns:40% 30% 30%;
    grid-column-gap:2rem ;
    align-items: center;
}
.promo-section .wrapper{
    padding:3rem 0rem;
}

.promo-banner-text {
    text-align:center;
}

.promo-banner-text h2{
    font-size:2rem;
    font-weight:700;
    text-align:center;
}
.promo-banner-text p{
    font-size: 2.4rem;
    color:#333;
    margin-top: .5em;
    margin-bottom: 1rem;
}
.promo-banner-text button {
    padding:.6rem 4rem;
}
.promo-card a{
    font-weight:bold;
    color:var(--textColor);
    
}
.promo-2{
    background-color: #3b3c3d;
}
.promo-2 .wrapper{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap:2rem;

    }
    .promo-2 .promo-banner-text h2{
        margin-bottom: 1rem;
    }

    
    .promo-2-text p{
        font-size: 1.1rem;
        color:#444;
}
.promo-2-text span{
    text-decoration: underline;
   
}

.promo-2-text span,
.promo-2-text small{
display: inline-block;
margin-top: 1rem;
color:var(--textColor);
margin-right:1rem ;
}


.features-section
{
padding:.5rem 0;
}

.features-grid
{
display:grid;
grid-template-columns: repeat(6, 1fr);}

.features-single
{
text-align:center;
}


.features-single ion-icon
{
font-size: 2rem;
color:var(--primaryColor);

}

.features-single  div + span
{
    font-size: 1.1rem;
    color:var(--textColor);
    font-weight: 500;
display:inline-block;
margin-top: 1rem;
 }

 .popular-brands{
     background: #f3f3faf6;
     padding:2rem 5rem;
 }

 .brand-header
 {
     text-align:center;
 }

 .brand-header h2{
     font-size: 2rem;
     color: #181717;
     margin-bottom: .6rem;
 }
 .brand-header p{
     font-size: 1.5rem;
     color:#2f2e31;
     margin-bottom: .1rem;
 }

.brands-grid{

grid-column: repeat(3,1fr);
margin-right: 0vh;
 }  
 
 .brands-grid img{
width:20% !important;
}
footer{
    padding:3rem 0rem;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:.5rem;
}
  .footer-card h4,
  .footer-form h4{
     color:hsl(0, 0%, 1%);
     margin-top: .5rem;

 }
.footer-card span,
.footer-form span{
    font-size: .75rem;
    color: #2f2e31;
}
.footer-card div{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer-card li{
    margin-bottom: .5rem;
    font-size: .70rem;
}
.footer-card li a{
font-size: 8.rem;
color: #444;
} 
.footer-form div{
margin-top: .7rem;
display:flex;
}
.footer-form input{
    flex:1;
}





/*------------  product page ---------------*/
.product-header{
    background-color:#ebecee;
    padding: 2.5rem 0rem 1rem 0rem;
    text-align: center;
}
.product-header .breadcrumb,
.product-header .breadcrumb a
    {
    font-size: .8rem;
    color:var(--textColor);
}

.product-header .breadcrumb span{
    color: var(--primaryColor);
}

.product-header h1{
    color:#444;
    margin:.7rem 0rem;

}

.product-header h3{
font-size: 1.5rem;
color:var(--primaryColor);
margin-bottom:1.1rem;
}
.product-header ion-icon{
    color: var(--primaryColor);
    font-size: 1.3rem;
    display:inline-block;
    margin:0rem .5rem;
}

.product-body{
padding-bottom:2rem;
}

.product-body .wrapper{
    background:var(--backgroundColor);
    margin-top: -2rem;
    padding: 2rem 0rem;
}

.product-body-grid{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-gap:2rem;
}
.product-photo{
background-size:270px;
background-repeat: no-repeat;
height: 350px;
}

.product-details{
padding: 2rem 1rem;
}

 .size-wrapper{
     display:flex;
     margin-bottom: 1.2rem;
 }
.product-size small{
    font-size: .8rem;
    font-weight: 700;
    color: #333;
    display: inline-block;
    margin-top: .6rem;
}


 .size-wrapper label{

    display: inline-block;
    margin-right: 1rem;
    
 }

.size-wrapper input[type=radio]{

    display:none;
 }
 .size-wrapper span{
     font-size: .8rem;
     font-weight: 700;
     padding: .2rem .7rem;
     border:1px solid #ccc;
     color: var(--textColor);
 }

 .size-wrapper input[type=radio]:cheacked +span {
     border:1px solid var(--primaryColor);
 }

 .product-controls{
display: flex;
justify-content: space-between;
 }


.product-update-btn{
    display: flex;
    align-items:center;
}


 .product-update-btn input{
height: 30px;
width: 40px;
border:1px solid #ccc;
border-radius: 3px;
margin:0rem .4rem;
text-align: center;
 }

 .product-update-btn button{
     background:transparent;
     border: none;
     outline:none;
     font-size: 1.6rem;
     display: flex;
     align-items: center;
     justify-content: center;
     color: var(--primaryColor);
 }

 .product-description{
     margin-top: 2rem;
 }
 .product-description h5{
    color: var(--primaryColor);
    margin-bottom: .8rem;
 }

 .product-full-desc h1,
 .product-full-desc h2,
 .product-full-desc h3,
 .product-full-desc h4,
 .product-full-desc h5{
  color:rgb(196, 42, 42) !important;
  margin-bottom:.4rem;
  font-size: .9rem;
  }
  

 .product-full-desc p,
 .product-full-desc li
{
     font-size: .85rem !important;
     line-height: 1.7rem;
     font-weight: 500;
     color: #444;
 }
